<h1>PEE FOR FREEEE!</h1>
<h2>Look upon ye map below. Find a place, if you must go!</h2>

<button class='whatever'>Dan's Button</button><br><br>
<button class='bathroom-button'>Add Bathroom</button><br><br>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>

