<div id="map"></div>

<button class='whatever'>Dan's Button</button>
<form action='/bathrooms' method='Post'>
  <label>Name</label><br>
  <input type="text" name="bathroom[name]">

  <label>Name</label><br>
  <input type="text" name="bathroom[name]">

  <label>Name</label><br>
  <input type="text" name="bathroom[name]">
</form>
